input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
nav {
  box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);
}

body {
  font-size: 14px;
}
button,
a {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}
.upload-box {
  width: 220px;
  height: 130px;
  margin-top: 20px;
  border: 1px solid #7777772f;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: #f9f9f9;
}

.upload-box span {
  font-size: 18px;
  color: #77777770;
  text-align: center;
}

.upload-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.remove-btn {
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  visibility: hidden;
}

.upload-box.has-image .remove-btn {
  visibility: visible;
}
